{% extends 'chat/home.html' %}
{% block addcontact %}
{% load static %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <!-- form -->
        <form id="add-contact">
            <div class="form-group2">
              <label for="inputName">Contact Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="ex. John Doe" required>
              <small id="nameHelp" class="form-text text-muted">you can use your contact's original name instead</small>
              <br>
            </div>
            <div class="form-group2">
              <label for="exampleInputPassword1">Phone Number</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="ex. +909101398655" required>
            </div>
            <div class="form-check">
              <br>
              <input type="checkbox" class="form-check-input" id="custom-or-another" onchange="checkBX()">
              <label class="form-check-label" for="custom-or-another">use contact's original name</label>
              <small id="invalidPhone" class="form-text text-danger"></small>

            </div>
            <div class="modal-footer">
                <br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearAddContactMsg()">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
          <!-- end form -->
        </div>
        
    </div>
    </div>				
</div>
<script>
	const user = '{{ request.user }}';
	const username = '{{ request.user.username }}';
	const userID = '{{ request.user.id }}';
	const userPhone = '{{ request.user.phone }}';
</script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}